.banner {
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv_CUmpMk10PQ-eI51XyaK5580956mCFIvKA&usqp=CAU); */
    width: 100%;
    height: 350px;
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.cards{
    box-shadow: rgb(94, 89, 72) 0px 20px 30px -10px;
}
.cards:hover{
    transform: 2s;
    transition: (1.2);
    box-shadow: rgb(196, 152, 8) 0px 20px 30px -10px;
   
}
.cards h2{
   font-size: 15px;
}
.cards img:hover{
    transform: 2s;
    transition: (1.2);
    box-shadow: rgb(196, 152, 8) 0px 20px 30px -10px;
   
}
